<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Admin.css">
  <title>Login_Admin</title>
</head>
<body>
  <div class="main">

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <button>Login</button>
        <div style="display:flex;justify-content:center; ">
          <a style="color:black;" href="#">Forget password?</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
