<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3>Welcome to a sample project</h3>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Management System</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Mere-GO</h2>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">A_D_S<a>
                        <div class="sub-menu">
                            <ul>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">Driver</a></li>
                                <li><a href="#">Student</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="contact"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
